In [2]:

import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics
from sklearn import preprocessing

In [9]:
data=pd.read_excel("Book1(AutoRecovered).xlsx")

In [10]:
data.head()

,Row Labels,202106,202107,202108,202109,202110,202111,202112,202201,202202,...,Net activity,percentage growth,bucket range,Segment,FIRM ID,Parent Firm,Actual net,Avg asset,Age Range,State
0,1001,7234.0,434.04,256.0836,151.089324,40.794117,11.830294,1.537938,0.892004,0.401402,...,4.0,-99.999271,1 to 10,D,12087,Janney,-7233.947235,508.203474,Above 45,Minnesota
1,1002,5730.0,6417.60,7059.3600,9812.510400,11578.762272,14820.815708,14376.191237,19120.334345,18929.131002,...,36.0,833.192387,above 30,D,10389,Wells Fargo,52767.948797,23675.785458,Above 45,Virginia
2,1003,2490.0,2838.60,1930.2480,1061.636400,1327.045500,623.711385,442.835083,225.845893,252.947400,...,4.0,-92.865264,1 to 10,D,12087,Janney,-2864.395993,781.244055,36 to 45,Oklahoma
3,1004,3001.0,2040.68,2448.8160,3183.460800,3310.799232,1390.535677,611.835698,654.664197,667.757481,...,8.0,-94.891289,1 to 10,D,12087,Janney,-1797.145525,1160.768099,Above 45,Minnesota
4,1005,316.0,366.56,516.8496,775.274400,922.576536,1005.608424,1588.861310,2462.735031,3004.536738,...,25.0,3876.961396,21 to 30,D,10569,UBS Global,12891.238655,4662.318667,Above 45,Massachusetts

In [5]:
data.drop(['Row Labels','bucket range','Age Range'],axis=1, inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
202106               969 non-null float64
202107               968 non-null float64
202108               965 non-null float64
202109               964 non-null float64
202110               961 non-null float64
202111               960 non-null float64
202112               960 non-null float64
202201               964 non-null float64
202202               968 non-null float64
202203               975 non-null float64
202204               978 non-null float64
202205               980 non-null float64
202206               984 non-null float64
202207               984 non-null float64
202208               984 non-null float64
202209               984 non-null float64
Net                  1000 non-null float64
Current              1000 non-null float64
Initial              1000 non-null float64
Net activity         989 non-null float64
percentage growth    1000 non-null float64
Segment              1000 non-null object
FIRM ID              1000 non-null int64
Parent Firm          1000 non-null object
Actual net           1000 non-null float64
Avg asset            1000 non-null float64
State                1000 non-null object
Attritipn            1000 non-null int64
dtypes: float64(23), int64(2), object(3)
memory usage: 218.8+ KB

In [11]:
data.isnull().sum()

Row Labels            0
202106               31
202107               32
202108               35
202109               36
202110               39
202111               40
202112               40
202201               36
202202               32
202203               25
202204               22
202205               20
202206               16
202207               16
202208               16
202209               16
Net                   0
Current               0
Initial               0
percentage Change    20
Attrition(30%)       20
ATTRITION            20
Net activity         11
percentage growth     0
bucket range         11
Segment               0
FIRM ID               0
Parent Firm           0
Actual net            0
Avg asset             0
Age Range             0
State                 0
dtype: int64

In [8]:
data[202106].fillna (0, inplace=True)
data[202107].fillna(0, inplace=True)
data[202108].fillna(0, inplace=True)
data[202109].fillna(0, inplace=True)
data[202110].fillna(0, inplace=True)
data[202111].fillna(0, inplace=True)
data[202112].fillna(0, inplace=True)
data[202201].fillna(0, inplace=True)
data[202202].fillna(0, inplace=True)

In [10]:
data[202106].isnull().sum()

0

In [23]:
data.columns

Index([             202106,              202107,              202108,
                    202109,              202110,              202111,
                    202112,              202201,              202202,
                    202203,              202204,              202205,
                    202206,              202207,              202208,
                    202209,               'Net',           'Current',
                 'Initial',      'Net activity', 'percentage growth',
                 'Segment',           'FIRM ID',       'Parent Firm',
              'Actual net',         'Avg asset',             'State',
               'Attritipn'],
      dtype='object')